<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.6/css/all.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/b513db43be.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anton&family=Dancing+Script:wght@500&family=Poppins:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,500;1,600&family=Roboto:wght@400;900&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="first.css">
</head>
<body>
    <nav class="navbar navbar-expand-md fixed-top">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <img src="https://bootstrapbrain.com/demo/wave/assets/img/branding/wave-logo.svg" style="width:100px;" alt="logo">
                </li>
                
              </ul>
            <ul class="navbar-nav mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link scroll-link active"  href="#Home">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link scroll-link" href="#Services">Services</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link scroll-link" href="#Portfolio">Portfolio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link scroll-link" href="#About">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link scroll-link" href="#Team">Team</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link scroll-link" href="#Pricing">Pricing</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link scroll-link" href="#Blog">Blog</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link scroll-link" href="#Contact">Contact</a>
                  </li>
              </ul>
          </div>
        </div>
      </nav>
        <div class="d-flex" id="Home">
         <div class="container" style="height:700px;">
           <div class="d-flex flex-row" style="justify-content: space-between;" >
            <div> 
                <h2 style="font-size: 50px;"><b style="font-family: 'Roboto', sans-serif; font-size: 65;">We provide easy</b><br><b style="color:red; font-family: 'Dancing Script', cursive; font-size: 65px;">solutions</b><b style="font-family: 'Roboto', sans-serif; font-size: 65;"> for startups<br>at affordable rates.</b></h2>
                <p style="font-size: 30px;">"Neque porro quisquam est qui dolorem ipsum <br>There is no one who loves pain itself, who seeks after</p>
                <div class="top-big-link wow fadeInUp">
                    <a class="btn btn-primary btn-link-1" href="">Free Consultation</a>
                    <a class="btn btn-primary btn-link-2" href="">Buy Credits</a>
                </div>
            </div>
            <div class="mask1"> <img src="https://bootstrapbrain.com/demo/wave/assets/img/hero/hero-home.jpg" style="width:500px;" alt="img-1" > </div>
           </div>
    </div>
     </div>

     <div class="d-flex" id="Services">
        <div class="container" style="height:800px;">
            <div class="d-flex flex-column" style="justify-content: center; justify-content:space-between;">
                <div style="text-align: center;"> 
                    <h2 style="font-family: 'Roboto', sans-serif; font-size: 65px;"><b>You Will get the</b></h2>
                    <h2 ><b style="font-family: 'Roboto', sans-serif; font-size: 65px;">Perfect</b><mark class="wave-highlight wave-highlight-yellow"><span class="wave-font-hw display-2 text-accent fw-normal"><b style="color:red; font-family: 'Dancing Script', cursive; font-size: 65px;">resolutions</b></span> </h2>
                     <h2 style="font-family: 'Roboto', sans-serif; font-size: 65px;"><b> with Our proficient Services.</b></h2>
                </div><br><br>
                <div class="d-flex flex-row" style="justify-content: space-between;">
                    <div class="d-flex flex-column">
                        <div>
                          <div class="rounded" style="margin:20px; width:65px; padding:20px; background-color: rgb(190, 190, 15);">
                            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-pie-chart" viewBox="0 0 16 16">
                            <path d="M7.5 1.018a7 7 0 0 0-4.79 11.566L7.5 7.793V1.018zm1 0V7.5h6.482A7.001 7.001 0 0 0 8.5 1.018zM14.982 8.5H8.207l-4.79 4.79A7 7 0 0 0 14.982 8.5zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"></path>
                            </svg>
                            </div>
                        </div>
                    <div>
                        <h4><b style="font-family: 'Roboto', sans-serif;">Market Research</b></h4>
                        <p>Lorem ipsum dolor sit amet,<br>
                        Lorem ipsum dolor sit amet, consectetur<br>
                        Lorem ipsum dolor sit amet, consecte<br>
                        Lorem ipsum dolor sit amet, consectetr</p>
                        <a class="nav-link" style="color:rgb(76, 143, 243);" href="">Learn More <i style="font-size: 10px;" class="fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
                <div class="d-flex flex-column">
                    <div>
                      <div class="rounded" style="margin:20px; width:65px; padding:20px; background-color:lightgreen;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-aspect-ratio" viewBox="0 0 16 16">
                        <path d="M0 3.5A1.5 1.5 0 0 1 1.5 2h13A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 12.5v-9zM1.5 3a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-13z"></path>
                        <path d="M2 4.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1H3v2.5a.5.5 0 0 1-1 0v-3zm12 7a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1 0-1H13V8.5a.5.5 0 0 1 1 0v3z"></path>
                        </svg>
                        </div>
                    </div>
                <div>
                    <h4><b style="font-family: 'Roboto', sans-serif;">Web Design</b></h4>
                        <p>Lorem ipsum dolor sit amet,<br>
                        Lorem ipsum dolor sit amet, consectetur<br>
                        Lorem ipsum dolor sit amet, consecte<br>
                        Lorem ipsum dolor sit amet, consectetr</p>
                    <a class="nav-link" style="color:rgb(76, 143, 243);" href="">Learn More <i style="font-size: 10px;" class="fa-solid fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="d-flex flex-column">
                <div class="services-box-icon">
                  <div class="rounded" style="margin:20px; width:65px; padding:20px; background-color:lightpink;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-airplane-engines" viewBox="0 0 16 16">
                    <path d="M8 0c-.787 0-1.292.592-1.572 1.151A4.347 4.347 0 0 0 6 3v3.691l-2 1V7.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.191l-1.17.585A1.5 1.5 0 0 0 0 10.618V12a.5.5 0 0 0 .582.493l1.631-.272.313.937a.5.5 0 0 0 .948 0l.405-1.214 2.21-.369.375 2.253-1.318 1.318A.5.5 0 0 0 5.5 16h5a.5.5 0 0 0 .354-.854l-1.318-1.318.375-2.253 2.21.369.405 1.214a.5.5 0 0 0 .948 0l.313-.937 1.63.272A.5.5 0 0 0 16 12v-1.382a1.5 1.5 0 0 0-.83-1.342L14 8.691V7.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v.191l-2-1V3c0-.568-.14-1.271-.428-1.849C9.292.591 8.787 0 8 0ZM7 3c0-.432.11-.979.322-1.401C7.542 1.159 7.787 1 8 1c.213 0 .458.158.678.599C8.889 2.02 9 2.569 9 3v4a.5.5 0 0 0 .276.447l5.448 2.724a.5.5 0 0 1 .276.447v.792l-5.418-.903a.5.5 0 0 0-.575.41l-.5 3a.5.5 0 0 0 .14.437l.646.646H6.707l.647-.646a.5.5 0 0 0 .14-.436l-.5-3a.5.5 0 0 0-.576-.411L1 11.41v-.792a.5.5 0 0 1 .276-.447l5.448-2.724A.5.5 0 0 0 7 7V3Z"></path>
                    </svg>
                    </div>
                </div>
            <div>
                <h4><b style="font-family: 'Roboto', sans-serif;">SEO services</b></h4>
                        <p>Lorem ipsum dolor sit amet,<br>
                        Lorem ipsum dolor sit amet, consectetur<br>
                        Lorem ipsum dolor sit amet, consecte<br>
                        Lorem ipsum dolor sit amet, consectetr</p>
                <a class="nav-link" style="color:rgb(76, 143, 243);" href="">Learn More <i style="font-size: 10px;" class="fa-solid fa-arrow-right"></i></a>
            </div>
        </div>
        <div class="d-flex flex-column">
            <div class="services-box-icon">
              <div class="rounded" style="margin:20px; width:65px; padding:20px; background-color:lightblue;">
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-alarm" viewBox="0 0 16 16">
                <path d="M8.5 5.5a.5.5 0 0 0-1 0v3.362l-1.429 2.38a.5.5 0 1 0 .858.515l1.5-2.5A.5.5 0 0 0 8.5 9V5.5z"></path>
                <path d="M6.5 0a.5.5 0 0 0 0 1H7v1.07a7.001 7.001 0 0 0-3.273 12.474l-.602.602a.5.5 0 0 0 .707.708l.746-.746A6.97 6.97 0 0 0 8 16a6.97 6.97 0 0 0 3.422-.892l.746.746a.5.5 0 0 0 .707-.708l-.601-.602A7.001 7.001 0 0 0 9 2.07V1h.5a.5.5 0 0 0 0-1h-3zm1.038 3.018a6.093 6.093 0 0 1 .924 0 6 6 0 1 1-.924 0zM0 3.5c0 .753.333 1.429.86 1.887A8.035 8.035 0 0 1 4.387 1.86 2.5 2.5 0 0 0 0 3.5zM13.5 1c-.753 0-1.429.333-1.887.86a8.035 8.035 0 0 1 3.527 3.527A2.5 2.5 0 0 0 13.5 1z"></path>
                </svg>
                </div>
            </div>
        <div>
            <h4><b style="font-family: 'Roboto', sans-serif;">Content Marketing</b></h4>
            <p>Lorem ipsum dolor sit amet,<br>
              Lorem ipsum dolor sit amet, consectetur<br>
              Lorem ipsum dolor sit amet, consecte<br>
              Lorem ipsum dolor sit amet, consectetr</p>
            <a class="nav-link" style="color:rgb(76, 143, 243);" href="">Learn More <i style="font-size: 10px;" class="fa-solid fa-arrow-right"></i></a>
        </div>
    </div>              
</div>
</div>
  </div>
  </div>
  <div class="d-flex" id="Service">
    <div class="container" style="height:750px;">
       <div style="color:grey(245, 247, 248);"><br></div>
      <div class="d-flex">
       <div> 
        <mark class="text-white wave-highlight">Unlock Fresh Prospects</mark>
           <h2 style="font-size: 50px;"><b style="font-family: 'Roboto', sans-serif; color:white; font-size: 65;">we are a design agency<br>studio delivering stom<br>creative and unique<br>websites .</b></h2>
           <div>
               <a class="btn btn-primary btn-link-3" href="">Join Us</a>
           </div>
       </div>
      </div>
</div>
</div>
<div class="d-flex" id="Portfolio">
    <div class="container" style="height:1700px;">
        <div class="d-flex flex-column" style="justify-content: center; justify-content:space-between;">
            <div style="text-align: center;"> 
                <h2 style="font-family: 'Roboto', sans-serif; font-size: 65px;"><b>Meet our Portfolio To</b></h2>
                <h2> <b style="color:red; font-family: 'Dancing Script', cursive; font-size:65px;">Kickstart</b><b style="font-family: 'Roboto', sans-serif; font-size: 65px;">your career</b></h2>
            </div><br><br>
            <div class="d-flex p-3 ">
              <div class="p-2 "><div class="portfolio-box-image" id="pic1">
                <img style="width:400px;" src="https://bootstrapbrain.com/demo/wave/assets/img/portfolio/project-landscape-1.jpg" alt="pic1" data-at2x="https://bootstrapbrain.com/demo/wave/assets/img/portfolio/project-landscape-1.jpg">
            </div></div>
              <div class="p-2 "><div class="portfolio-box-image" id="pic2">
                <img style="width:400px; height:600px;" src="https://bootstrapbrain.com/demo/wave/assets/img/portfolio/project-portrait-1.jpg" alt="pic2" data-at2x="https://bootstrapbrain.com/demo/wave/assets/img/portfolio/project-portrait-1.jpg">
            </div></div>
              <div class="p-2 "> <div class="portfolio-box-image" id="pic3">
                <img style="width:400px;" src="https://bootstrapbrain.com/demo/wave/assets/img/portfolio/project-landscape-2.jpg" alt="pic3" data-at2x="https://bootstrapbrain.com/demo/wave/assets/img/portfolio/project-landscape-2.jpg">
            </div></div>
            <div class="p-2 "> <div class="portfolio-box-image" id="pic4">
              <img style="width:400px;" src="https://bootstrapbrain.com/demo/wave/assets/img/portfolio/project-portrait-2.jpg" alt="pic4" data-at2x="https://bootstrapbrain.com/demo/wave/assets/img/portfolio/project-portrait-2.jpg">
            </div></div>
            <div class="p-2 "> <div class="portfolio-box-image" id="pic5">
              <img style="width:400px;" src="https://bootstrapbrain.com/demo/wave/assets/img/portfolio/project-landscape-3.jpg" alt="pic5" data-at2x="https://bootstrapbrain.com/demo/wave/assets/img/portfolio/project-landscape-3.jpg">
            </div></div>
            <div class="p-2 "> <div class="portfolio-box-image" id="pic6">
              <img style="width:400px;" src="https://bootstrapbrain.com/demo/wave/assets/img/portfolio/project-portrait-4.jpg" alt="pic6" data-at2x="https://bootstrapbrain.com/demo/wave/assets/img/portfolio/project-portrait-4.jpg">
            </div></div>
            <div class="p-2 "> <div class="portfolio-box-image" id="pic7">
              <img style="width:400px;" src="https://bootstrapbrain.com/demo/wave/assets/img/portfolio/project-portrait-3.jpg" alt="pic7" data-at2x="https://bootstrapbrain.com/demo/wave/assets/img/portfolio/project-portrait-3.jpg">
            </div></div>
            <div class="p-2 "> <div class="portfolio-box-image" id="pic8">
              <img style="width:400px;" src="https://bootstrapbrain.com/demo/wave/assets/img/portfolio/project-landscape-4.jpg" alt="pic8" data-at2x="https://bootstrapbrain.com/demo/wave/assets/img/portfolio/project-landscape-4.jpg">
            </div></div>
            </div>

               </div>
            </div>
          </div>
       </div>
       <div class="d-flex flex-column" id="About" style="justify-content: space-evenly;">
        <div class="d-flex flex-row" style="justify-content:space-around; height:800px;" id="about">
            <div><img src="https://bootstrapbrain.com/demo/wave/assets/img/about/about-img-1.png" style="width:500px;" alt="pic10"> </div>
            <div>
                <h2 style="font-size: 50px;"><b style="font-family: 'Roboto', sans-serif; font-size: 65px;">Our</b> <b style="color:red; font-family: 'Dancing Script', cursive; font-size:65px;">Optimistic</b><b style="font-family: 'Roboto', sans-serif; font-size: 65px;"><br>methods will let you<br>prefer us</b></h2>
                <p style="font-size: 30px;">"Neque porro quisquam est qui dolorem ipsum <br>There is no one who loves pain itself, who seeks after</p>
                <div class="container" style="width:500px;">
                </div>    
                <div class="container" style="width:700px;">
                  <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                          Highly Competitive Rates
                        </button>
                      </h2>
                      <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Lorem ipsum dolor sit amet, consectetu<br>
                            Lorem ipsum dolor sit amet, consectetur<br>
                             Lorem ipsum dolor sit amet, consectetur<br>
                            Lorem ipsum dolor sit amet, consectetur</div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingTwo">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                            Contemporary skills
                        </button>
                      </h2>
                      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Lorem ipsum dolor sit amet, consectetu<br>
                            Lorem ipsum dolor sit amet, consectetur<br>
                             Lorem ipsum dolor sit amet, consectetur<br>
                            Lorem ipsum dolor sit amet, consectetur</div>
                      </div>
                    </div>
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingThree">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                            Top Notch Support
                        </button>
                      </h2>
                      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body">Lorem ipsum dolor sit amet, consectetu<br>
                            Lorem ipsum dolor sit amet, consectetur<br>
                             Lorem ipsum dolor sit amet, consectetur<br>
                            Lorem ipsum dolor sit amet, consectetur</div>
                      </div>
                    </div>
                  </div>
                </div> 
               </div>
               </div>
               <div class="d-flex flex-row" style="justify-content: center; justify-content: space-evenly;">
                <div >
                  <div class="card" id="isl" style="width:270px;">
                    <div class="flex-column" id="hc" style="justify-content: center;">
                      <div class="rounded-circle" style="margin:20px; width:65px; padding:20px; background-color:rgb(221, 221, 17)"><i class="fa fa-user-plus" aria-hidden="true"></i> </div>
                      
                      <div><h1>120K</h1><p>Happy Customers</p></div>
                    </div>
                  </div>
                </div>
                <div >
                  <div class="card" id="isl" style="width:270px;">
                    <div class="flex-column" id="is" style="justify-content: center;">
                      <div class="rounded-circle" style="margin:20px; width:70px; padding:20px; background-color: greenyellow; "> <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-heart-pulse" viewBox="0 0 16 16">
                        <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053.918 3.995.78 5.323 1.508 7H.43c-2.128-5.697 4.165-8.83 7.394-5.857.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17c3.23-2.974 9.522.159 7.394 5.856h-1.078c.728-1.677.59-3.005.108-3.947C13.486.878 10.4.28 8.717 2.01L8 2.748ZM2.212 10h1.315C4.593 11.183 6.05 12.458 8 13.795c1.949-1.337 3.407-2.612 4.473-3.795h1.315c-1.265 1.566-3.14 3.25-5.788 5-2.648-1.75-4.523-3.434-5.788-5Z"></path>
                        <path d="M10.464 3.314a.5.5 0 0 0-.945.049L7.921 8.956 6.464 5.314a.5.5 0 0 0-.88-.091L3.732 8H.5a.5.5 0 0 0 0 1H4a.5.5 0 0 0 .416-.223l1.473-2.209 1.647 4.118a.5.5 0 0 0 .945-.049l1.598-5.593 1.457 3.642A.5.5 0 0 0 12 9h3.5a.5.5 0 0 0 0-1h-3.162l-1.874-4.686Z"></path>
                        </svg></div>
                      <div><h1>1890+</h1><p>Issues Solved</p></div>
                    </div>
                  </div>
                </div>
                <div >
                  <div class="card" id="isl" style="width:270px;">
                    <div class="flex-column"id="fp" style="justify-content:center;">
                      <div class="rounded-circle" style="margin:20px; width:70px; padding:20px; background-color: pink; "> <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-droplet" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M7.21.8C7.69.295 8 0 8 0c.109.363.234.708.371 1.038.812 1.946 2.073 3.35 3.197 4.6C12.878 7.096 14 8.345 14 10a6 6 0 0 1-12 0C2 6.668 5.58 2.517 7.21.8zm.413 1.021A31.25 31.25 0 0 0 5.794 3.99c-.726.95-1.436 2.008-1.96 3.07C3.304 8.133 3 9.138 3 10a5 5 0 0 0 10 0c0-1.201-.796-2.157-2.181-3.7l-.03-.032C9.75 5.11 8.5 3.72 7.623 1.82z"></path>
                        <path fill-rule="evenodd" d="M4.553 7.776c.82-1.641 1.717-2.753 2.093-3.13l.708.708c-.29.29-1.128 1.311-1.907 2.87l-.894-.448z"></path>
                        </svg></div>
                      <div><h1>250K</h1><p>Finished Projects</p></div>
                    </div>
                  </div>
                </div>
                <div >
                  <div class="card" id="isl" style="width:270px;">
                    <div class="flex-column" id="aw" style="justify-content: center;">
                      <div class="rounded-circle" style="margin:20px; width:70px; padding:20px; background-color: blue; "> <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-cloud-moon" viewBox="0 0 16 16">
                        <path d="M7 8a3.5 3.5 0 0 1 3.5 3.555.5.5 0 0 0 .625.492A1.503 1.503 0 0 1 13 13.5a1.5 1.5 0 0 1-1.5 1.5H3a2 2 0 1 1 .1-3.998.5.5 0 0 0 .509-.375A3.502 3.502 0 0 1 7 8zm4.473 3a4.5 4.5 0 0 0-8.72-.99A3 3 0 0 0 3 16h8.5a2.5 2.5 0 0 0 0-5h-.027z"></path>
                        <path d="M11.286 1.778a.5.5 0 0 0-.565-.755 4.595 4.595 0 0 0-3.18 5.003 5.46 5.46 0 0 1 1.055.209A3.603 3.603 0 0 1 9.83 2.617a4.593 4.593 0 0 0 4.31 5.744 3.576 3.576 0 0 1-2.241.634c.162.317.295.652.394 1a4.59 4.59 0 0 0 3.624-2.04.5.5 0 0 0-.565-.755 3.593 3.593 0 0 1-4.065-5.422z"></path>
                        </svg></div>
                      <div><h1>786+</h1><p>Awards W</p></div>
                    </div>
                  </div>
                </div>
                </div>
              </div>
        </div>
        <div class="d-flex" id="Team">
          <div class="container" style="height:900px;">
              <div class="d-flex flex-column" style="justify-content: center; justify-content:space-between;" id="team">
                  <div style="text-align: center;"> 
                    <h2 style="font-family: 'Roboto', sans-serif; font-size: 65px;"><b>We are a group</b></h2>
                    <h2><b style="color:red; font-family: 'Dancing Script', cursive; font-size:65px;">innovative,</b> <b style="font-family: 'Roboto', sans-serif; font-size: 65px;">experienced,</b></h2>
                     <h2 style="font-family: 'Roboto', sans-serif; font-size: 65px;"><b>and proficient</b></h2>
                  </div><br><br>
                  <div class="d-flex flex-row" style="justify-content: space-around;">
                  <div >
                    <div class="card">
                      <img class="card-img" style="width:300px;" src="https://bootstrapbrain.com/demo/wave/assets/img/team/team-img-1.jpg" alt="Card image" style="width:100px;">
                      <div style="text-align: left;" class="card-body ">
                        <h4 class="card-title">Flora</h4>
                        <P>Product Mnager</P>
                      </div>
                    </div>
                  </div>
                  <div >
                    <div class="card">
                      <img class="card-img" style="width:300px;" src="https://bootstrapbrain.com/demo/wave/assets/img/team/team-img-2.jpg" alt="Card image" style="width:100px;">
                      <div style="text-align: left;" class="card-body ">
                       <h4 class="card-title">Evander</h4>
                        <P>Art Director</P>                       
                      </div>
                    </div>
                  </div>
                  <div >
                    <div class="card">
                      <img class="card-img" style="width:300px;" src="https://bootstrapbrain.com/demo/wave/assets/img/team/team-img-3.jpg" alt="Card image" style="width:100px;">
                      <div style="text-align: left;" class="card-body ">
                       <h4 class="card-title">Tytum</h4>
                        <P>Investment Planner</P>                       
                      </div>
                    </div>
                  </div>
                  <div >
                    <div class="card">
                      <img class="card-img" style="width:300px;" src="https://bootstrapbrain.com/demo/wave/assets/img/team/team-img-4.jpg" alt="Card image" style="width:100px;">
                      <div style="text-align: left;" class="card-body ">
                        <h4 class="card-title">Wylder</h4>
                        <P>Financial analyst</P>
                      </div>
                    </div>
                  </div>
                  </div>
                  </div>
                </div>
             </div>
      <div class="d-flex" id="Pricing" style="height:900px;">
        <div class="d-flex flex-row" style="justify-content:space-around; justify-content: center;" id="pricing">
          <div style="text-align: center;" id="pricing-text"> 
            <h2 style="font-size: 50px;"><b style="font-family: 'Roboto', sans-serif; font-size: 65px;">Our</b> <b style="color:red;font-family: 'Dancing Script', cursive; font-size:65px;">Pricing</b><br></h2>
            <p style="font-size: 20px;">"Neque porro quisquam est qui dolorem ipsum<br>There is no one who loves pain itself, who seeks after</p><br><br>
                <a class="btn btn-primary btn-link-1" href="">More Plans</a>
        </div>
        
        <div class="card" id="card-1" style="width: 300px;height:600px;">
          <div class><h2 style="margin-left: 25px; margin-top: 25px;">Starter</h2><p style="font-size: 60px; color:rgb(4, 4, 202); border:8px; margin-left: 25px;">$45</p><p style="color:rgb(4, 4, 202); margin-left: 25px;">USD / Month</p> </div>
          <div style="text-align: center;" class="card-body ">
            <p class="card-text"><b><i class="fa fa-check" aria-hidden="true"></i>5</b>Bootsrap install</p><hr>
            <p class="card-text"><b><i class="fa fa-check" aria-hidden="true"></i>100,000</b>Visits</p><hr>
            <p class="card-text"><b><i class="fa fa-check" aria-hidden="true"></i>30GB</b>Disk space</p><hr>
            <p class="card-text"><i class="fa fa-times" style="color:red;" aria-hidden="true"></i>Free<b>SSL and CDN</b></p><hr>
            <p class="card-text"><i class="fa fa-times" style="color:red;" aria-hidden="true"></i>Free<b>Support</b></p>
            <div class="center"><button type="submit" style="color:white;"  class="btn btn-link-7">Choose Plan</button></div>
      
          </div>
        </div><br>
        <div class="card" id="card-2" style="width: 300px;height:600px;">
          <div><h2 style="margin-left: 25px; margin-top: 25px;">Pro</h2><p style="font-size: 60px; color:rgb(4, 4, 202); border:8px; margin-left: 25px;">$169</p><p style="color:rgb(4, 4, 202); margin-left: 25px;">USD / Month</p> </div>
          <div style="text-align: center;" class="card-body ">
            <p class="card-text"><b><i class="fa fa-check" aria-hidden="true"></i>20</b>Bootsrap install</p><hr>
            <p class="card-text"><b><i class="fa fa-check" aria-hidden="true"></i>400,000</b>Visits</p><hr>
            <p class="card-text"><b><i class="fa fa-check" aria-hidden="true"></i>50GB</b>Disk space</p><hr>
            <p class="card-text"><i class="fa fa-check" aria-hidden="true"></i>Free<b>SSL and CDN</b></p><hr>
            <p class="card-text"><i class="fa fa-check" aria-hidden="true"></i>Free<b>Support</b></p>
            <div class="center"><button type="submit" style="color:white;"  class="btn btn-link-7">Choose Plan</button></div>
      
          </div>
        </div>
        </div>
      </div>
      <div class="d-flex" id="testimonials">
        <div class="container" style="height:900px;">
            <div class="d-flex flex-column" style="justify-content: center; justify-content:space-between;" id="test">
                <div style="text-align: center;"> 
                    <h2><b style="font-family: 'Roboto', sans-serif; font-size: 65px;">We believe in client</b></h2>
                    <h2><b style="color:red;font-family: 'Dancing Script', cursive; font-size:65px;">Satisfaction</b> <b style=" font-family: 'Roboto', sans-serif; font-size: 65px;">.Here are</b></h2>
                     <h2><b style="font-family: 'Roboto', sans-serif; font-size: 65px;">some testimonials</b></h2>
                </div><br><br>
                <div>
                   <i  id="com1" class="fa-solid fa-quote-left"></i>
                   <i id="com2" class="fa-solid fa-quote-left"></i>
                   <i id="com3" class="fa-solid fa-quote-left"></i>
                    </div>
                <div class="d-flex flex-row" style="justify-content: space-around;">
                  <div >
                   
                    <div class="card" style="background: rgb(250, 247, 247);">
                      <img class="card-img rounded-circle" style="width: 100px; margin-left: 25px; border:solid rgb(212, 210, 210);" src="https://bootstrapbrain.com/demo/wave/assets/img/testimonial/testimonial-img-1.jpg" alt="Card image" style="width:100px;">
                      <div style="margin-left: 25px;" class="card-body ">
                       
                           <p class="card-text">cnjsjnc jjjjjjcaiomn jcjcajnkan nscjacn<br>cnan acjbcajjjjjjjcbj asjcbacj</p>
                        <p class="card-text">cnjsjnc jjjjjjcaiomn jcjcajnkan nscjacnsjcbacj</p>
                        <h4 class="card-title">Luna</h4>
                        <P>UX designer</P>
                      </div>
                    </div>
                  </div>
                  <div >
                    <div class="card" style="background: rgb(250, 247, 247);">
                      <img class="card-img rounded-circle" style="width: 100px; margin-left: 25px; border:solid rgb(212, 210, 210);" src="https://bootstrapbrain.com/demo/wave/assets/img/testimonial/testimonial-img-2.jpg" alt="Card image" style="width:100px;">
                      <div style="margin-left: 25px;" class="card-body ">
                        <p class="card-text">cnjsjnc jjjjjjcaiomn jcjcajnkan nscjacn<br>cnan acjbcajjjjjjjcbj asjcbacj</p>
                        <p class="card-text">cnjsjnc jjjjjjcaiomn jcjcajnkan nscjacnsjcbacj</p>
                        <h4 class="card-title">Luna</h4>
                        <P>UX designer</P>                       
                      </div>
                    </div>
                  </div>
                  <div >
                    <div class="card" style="background: rgb(250, 247, 247);">
                      <img class="card-img rounded-circle" style="width: 100px; margin-left: 25px; border:solid rgb(212, 210, 210);" src="https://bootstrapbrain.com/demo/wave/assets/img/testimonial/testimonial-img-4.jpg" alt="Card image" style="width:100px;">
                      <div style="margin-left: 25px;" class="card-body ">
                        <p class="card-text">cnjsjnc jjjjjjcaiomn jcjcajnkan nscjacn<br>cnan acjbcajjjjjjjcbj asjcbacj</p>
                        <p class="card-text">cnjsjnc jjjjjjcaiomn jcjcajnkan nscjacnsjcbacj</p>
                        <h4 class="card-title">Luna</h4>
                        <P>UX designer</P>
                      </div>
                    </div>
                  </div>
                 
                </div>
                </div>
                </div>
              </div>
           </div>
       <div class="d-flex flex-row" id="Blog" style="height: 800px; justify-content: space-around;">
        <div style="text-align: center;"> 
          <h1><br><br><br><br></h1>
          <h2 style="font-size: 50px;"><b style="font-family: 'Roboto', sans-serif; font-size: 65px;">Our</b> <b style="color:red;font-family: 'Dancing Script', cursive; font-size:65px;">Blog</b><br></h2>
          <p style ="font-size:20px;">"Neque porro quisquam est qui dolorem ipsum<br>There is no one who loves pain itself, who seeks after</p><br><br>
              <a class="btn btn-primary btn-link-1" href="">More News</a>
      </div>
      <div class="d-flex flex-column">
        <h1><br><br></h1>
       <div class="d-flex flex-row" style="justify-content:space-between">
          <div class="d-flex flex-column ">
              <div class="d-flex flex-column">
                  <div class="d-flex flex-column">
                      <div >
                          <img src="https://bootstrapbrain.com/demo/wave/assets/img/blog/blog-image-1.jpg" style="width:250px;" alt="img7">
                      </div>
                  </div>
                  <div class="d-flex flex-column">
                      <a class="nav-link" style="color:rgb(3, 3, 128);" href="">Business</a>
                      <p style="font-size: 25px;"><b>Lorem ipsum dolor sit<br> amet, consectetur</b></p>
                      <div class="portfolio-box-date"><i class="far fa-calendar"></i>7 Dec 2023 . <i class="fa fa-commenting-o" aria-hidden="true"></i>55</div>
                  </div>
                  </div>
                   </div>
                   <div class="d-flex flex-column">
                    <div class="d-flex flex-column">
                        <div class="d-flex flex-column">
                            <div >
                                <img src="https://bootstrapbrain.com/demo/wave/assets/img/blog/blog-image-2.jpg" style="width:250px;" alt="img8">
                            </div>
                        </div>
                        <div class="d-flex flex-column">
                          <a class="nav-link" style="color:rgb(3, 3, 128);" href="">Technology</a>
                            <p style="font-size: 25px;"><b>Lorem ipsum dolor sit<br> amet, consectetur</b></p>
                            <div class="portfolio-box-date"><i class="far fa-calendar"></i>12 Sep 2023 . <i class="fa fa-commenting-o" aria-hidden="true"></i>55</div>
                        </div>
                        </div>
                         </div>
                         </div>
                         <div class="d-flex flex-row" style="justify-content:space-between;">
                          <div class="d-flex flex-column ">
                              <div class="col">
                                  <div class="d-flex flex-column">
                                      <div >
                                        <img src="https://bootstrapbrain.com/demo/wave/assets/img/blog/blog-image-3.jpg" style="width:250px;" alt="img9">
                                      </div>
                                  </div>
                                  <div class="d-flex flex-column">
                                    <a class="nav-link" style="color:rgb(3, 3, 128);" href="">Health</a>
                                    <p style="font-size: 25px;"><b>Lorem ipsum dolor sit<br> amet, consectetur</b></p>
                                      <div class="portfolio-box-date"><i class="far fa-calendar"></i>13 Jul 2023 . <i class="fa fa-commenting-o" aria-hidden="true"></i>61</div>
                                  </div>
                                  </div>
                                   </div>
                                   <div class="d-flex flex-column">
                                    <div class="d-flex flex-column">
                                        <div class="d-flex flex-column">
                                            <div >
                                              <img src="https://bootstrapbrain.com/demo/wave/assets/img/blog/blog-image-4.jpg" style="width:250px;" alt="img0">
                                            </div>
                                        </div>
                                        <div class="d-flex flex-column">
                                          <a class="nav-link" style="color:rgb(3, 3, 128);" href="">Networking</a>
                                          <p style="font-size: 25px;"><b>Lorem ipsum dolor sit<br> amet, consectetur</b></p>
                                            <div class="portfolio-box-date"><i class="far fa-calendar"></i>21 Feb 2023 . <i class="fa fa-commenting-o" aria-hidden="true"></i>61</div>
                                        </div>
                                        </div>
                                         </div>
                                         </div>
                                        </div>
                                        </div>
                     <div class="d-flex" id="Contact" style="height:800px;">
                     <div class="container" style="height:400px;">
                    <div style="color:white;">..<br>..<br></div>
                     <div class="d-flex flex-row" style="justify-content: center;justify-content: space-evenly;" >
                    <div> <img src="https://bootstrapbrain.com/demo/wave/assets/img/contact/contact-img-1.jpg" style="height:700px;" alt="img-1" > </div>
                    <div> 
                      <h2 style="font-size: 50px;"><b style="font-family: 'Roboto', sans-serif; font-size: 50px;">Get in Touch</b></h2>
                      <p>"Neque porro quisquam est qui dolorem ipsum qui dolorem ipsum <br>There is no one who loves pain itself, who seeks after qui dolorem ipsum <br>There is no one who loves pain itself, who seeks  qui dolorem ipsum</p>
                      <div class="d-flex flex-row" >
                        <div class="d-flex flex-column">
                            <div id="pxx">
                              <svg xmlns="http://www.w3.org/2000/svg" width="32" color="blue" height="32" fill="currentColor" class="bi bi-geo" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M8 1a3 3 0 1 0 0 6 3 3 0 0 0 0-6zM4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999zm2.493 8.574a.5.5 0 0 1-.411.575c-.712.118-1.28.295-1.655.493a1.319 1.319 0 0 0-.37.265.301.301 0 0 0-.057.09V14l.002.008a.147.147 0 0 0 .016.033.617.617 0 0 0 .145.15c.165.13.435.27.813.395.751.25 1.82.414 3.024.414s2.273-.163 3.024-.414c.378-.126.648-.265.813-.395a.619.619 0 0 0 .146-.15.148.148 0 0 0 .015-.033L12 14v-.004a.301.301 0 0 0-.057-.09 1.318 1.318 0 0 0-.37-.264c-.376-.198-.943-.375-1.655-.493a.5.5 0 1 1 .164-.986c.77.127 1.452.328 1.957.594C12.5 13 13 13.4 13 14c0 .426-.26.752-.544.977-.29.228-.68.413-1.116.558-.878.293-2.059.465-3.34.465-1.281 0-2.462-.172-3.34-.465-.436-.145-.826-.33-1.116-.558C3.26 14.752 3 14.426 3 14c0-.599.5-1 .961-1.243.505-.266 1.187-.467 1.957-.594a.5.5 0 0 1 .575.411z"></path>
                                </svg>
                            </div>
                        </div>
                        <div class="d-flex flex-column">
                            <h4><b style="font-family: 'Roboto', sans-serif; font-size: 25px;">Address</b></h4>
                            <p>8014 Edithstrt New York</p>
                        </div>
                    </div>
                    <div class="d-flex flex-row">
                      <div class="d-flex flex-column">
                          <div id="pxx">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" color="blue" height="32" fill="currentColor" class="bi bi-telephone-outbound" viewBox="0 0 16 16">
                              <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511zM11 .5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V1.707l-4.146 4.147a.5.5 0 0 1-.708-.708L14.293 1H11.5a.5.5 0 0 1-.5-.5z"></path>
                              </svg>
                          </div>
                      </div>
                      <div class="d-flex flex-column">
                          <h4><b style="font-family: 'Roboto', sans-serif; font-size: 25px;">Phone</b></h4>
                          <p>(505)792-789</p>
                      </div>
                    </div>
                    <div class="d-flex flex-row">
                      <div class="d-flex flex-column">
                          <div id="pxx">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" color="blue" height="32" fill="currentColor" class="bi bi-envelope-at" viewBox="0 0 16 16">
                              <path d="M2 2a2 2 0 0 0-2 2v8.01A2 2 0 0 0 2 14h5.5a.5.5 0 0 0 0-1H2a1 1 0 0 1-.966-.741l5.64-3.471L8 9.583l7-4.2V8.5a.5.5 0 0 0 1 0V4a2 2 0 0 0-2-2H2Zm3.708 6.208L1 11.105V5.383l4.708 2.825ZM1 4.217V4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v.217l-7 4.2-7-4.2Z"></path>
                              <path d="M14.247 14.269c1.01 0 1.587-.857 1.587-2.025v-.21C15.834 10.43 14.64 9 12.52 9h-.035C10.42 9 9 10.36 9 12.432v.214C9 14.82 10.438 16 12.358 16h.044c.594 0 1.018-.074 1.237-.175v-.73c-.245.11-.673.18-1.18.18h-.044c-1.334 0-2.571-.788-2.571-2.655v-.157c0-1.657 1.058-2.724 2.64-2.724h.04c1.535 0 2.484 1.05 2.484 2.326v.118c0 .975-.324 1.39-.639 1.39-.232 0-.41-.148-.41-.42v-2.19h-.906v.569h-.03c-.084-.298-.368-.63-.954-.63-.778 0-1.259.555-1.259 1.4v.528c0 .892.49 1.434 1.26 1.434.471 0 .896-.227 1.014-.643h.043c.118.42.617.648 1.12.648Zm-2.453-1.588v-.227c0-.546.227-.791.573-.791.297 0 .572.192.572.708v.367c0 .573-.253.744-.564.744-.354 0-.581-.215-.581-.8Z"></path>
                              </svg>
                          </div>
                      </div>
                      <div class="d-flex flex-column">
                          <h4><b style="font-family: 'Roboto', sans-serif; font-size: 25px;">Email</b></h4>
                          <p>demo@yourdomain.com</p>
                      </div>
                    </div>
                    </div>
                  </div>
                      </div>
                   </div>
<div class="d-flex flex-row" style="height:300px; background-color: rgb(233, 230, 230); justify-content: center; justify-content: space-evenly;">
<div><br><br><img src="https://bootstrapbrain.com/demo/wave/assets/img/branding/wave-logo.svg" style="width:200px;" alt="logo2"> </div>
<div><h4><b><br><br>Get in Touch</b></h4><p>Neque porro quisquam est,<br>Neque porro quisquam est,<br></p>    </div>
<div><h4><b><br><br>Learn More</b></h4><p>About,<br>Contact<br>Advertise</p></div>
<div><h4><b><br><br>Our Newsletter</b></h4><p>Subscrbe to get our contents delivered<br>To you</p>
  <div class="input-container">
    <i class="fa-regular fa-envelope"></i>
     <input style="border: solid rgb(236, 233, 233) 2px ;" class="input-field rounded" type="text"   placeholder="Email address" id="email" name="email"><br>
  </div><br>
  <div ><button type="submit" id="btncheck" value="submit"  class=" btn btn-link-0">Subscribe</button></div>
 </div>
</div>
<div class="d-flex flex-row" style="height:180px; background-color: rgb(199, 197, 197); justify-content: space-around;">
<div><br><br><i class="fa fa-copyright" aria-hidden="true"></i>.2023.All rights reserved.<br>Built by bootsbrain with<i class="fa fa-heart" style="color:blue" aria-hidden="true"></i></div>
<div><br><br> <i class="fa fa-facebook-square" style="font-size: 40px;" aria-hidden="true"></i>  <i class="fa fa-youtube-play" style="font-size: 40px;"  aria-hidden="true"></i> <i class="fa fa-twitter"style="font-size: 40px;"  aria-hidden="true"></i> <i class="fa fa-instagram" style="font-size: 40px;"  aria-hidden="true"></i></div>

</div>



    </body>
</html>